BODY {
    width: 400px;
    position: relative;
    left: 50%;
    top: 150px;
    transform: translateX(-225px);
    background-color: grey;
}
.entire-nametag {
    display: grid;
    width: 450px;
    grid-template-rows: 110px 160px 20px;
    background-color: rgb(255, 42, 42);
    text-align: center;
    border-radius: 20px;
    box-shadow: 12px 13px 54px 3px rgba(0,0,0,0.7);
    -webkit-transform: rotate(-5deg);
}
.name-section {
    background-color: white;
    color: rgba(0,0,0,0.9);
}
P {
    font-size: 130px;
    margin: 0px;
}
H2 {
    font-size: 70px;
    text-emphasis: bold;
    margin: 0px
}
H4 {
    font-size: 30px;
    margin: -15px 0;
}
.hello-section {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
#user_text {
    position: relative;
    left: 50%;
    top: 5em;
    transform: translateX(-50px);
}